<form method="post" action="{{ path('task_delete', {'id': task.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette tâche?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-danger btn-sm float-right">Supprimer</button>
</form>
