{% extends 'base.html.twig' %}

{% block title %}Nouvelle tâche{% endblock %}

{% block body %}
    <a href="{{ path('task_list') }}" class="btn btn-info float-right">Retour à la liste des tâches</a>
    <div class="row task-create-page">
        {{ include('task/_form.html.twig') }}
    </div>
{% endblock %}
